:root {
  --sidebar-bg: #09c;
  --sidebar-text-color: #fff;
  --border-color: var(--sidebar-bg); /* in case we want to uncouple them in the future */
  --border-thickness: 2px;
  --content-padding: 16px;
  --standard-gap: 8px;

  font-family: sans-serif; /* default page font */
}

div { /*For Debugging*/
  /* border: 2px solid green; */
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

/*#page {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
}*/

#header {
  display: flex;
  flex: 0 0 auto;
  gap: 0.75em;
  border-bottom: var(--border-thickness) solid var(--sidebar-bg);
  padding: 0.5em;
}

#footer {
  display: flex;
  flex: 0 0 auto;
  border-top: var(--border-thickness) solid var(--sidebar-bg);
  padding: 1em 0.5em;
}

img {
  flex: 0 0 auto;
  margin: 1em;
}

#header div {
  height: 4em;
  /* border-bottom: 3px solid var(--sidebar-bg); */
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#logo, #description, #contact, #account {
  flex: 1 1 auto;
  max-width: fit-content;
  justify-content: center;
}

div #searchbar { /* two-level selector to override "#header div" style priority */
  flex-grow: 6;
  max-width: none;
  justify-content: flex-start;
  border-radius: 5em; /* perfectly rounded corners even if search bar somehow becomes very tall */
}

#content {
  display: grid;
  grid-auto-columns: min(25%, 400px) 1fr;
  grid-auto-rows: 1fr;
  flex: 1 1 100%;
}

#content > div {
  padding: var(--content-padding);
}

#sidebar {
  display: flex; /* flexbox container */
  flex: 1 1 auto;
  height: 100%;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text-color);
  box-sizing: border-box;
}

.sidebar-list{
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  margin: 0;
}

.sidebar-list li {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em;
  border: var(--border-thickness) solid #fff;
  border-radius: 5px;
}

.sidebar-list li div {
  padding: 1em;
}

#content-main {
  display: flex; /* flexbox container */
  flex-direction: column; /* child items go top->bottom */
  grid-column-start: 2;
  height: 100%;
  box-sizing: border-box;
}

.content-header {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  gap: var(--standard-gap);
}

.content-header > div {
  display: flex;
  align-items: center;
  gap: var(--standard-gap);
  padding: var(--content-padding);
}

.content-header-lhs {
  flex: 3;
  justify-content: flex-start;
}

.content-header-rhs {
  flex: 1;
  justify-content: flex-end;
}

#display {
  width: 100%;
  flex-grow: 1; /* fills all remaining space */
  padding: 1em;
  box-sizing: border-box;
  display: flex;
}

.display-graph {
  flex: 3;
  display: flex;
}

.display-graph-main {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: 10px;
}

.display-graph-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 50%;
  font-size: 1em;
  height: 10%;
}

.display-data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data-wrap-container {
  flex: 2 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-content: stretch;
  margin-bottom: 1em;
}

.data-item {
  flex: 1 1 auto;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1em;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: 5px;
}

.display-news-container {
  flex: 1 1 auto;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.display-news-container > div {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: 5px;
}

@media all and (max-width: 1000px) { /* on thinner displays, put sidebar above main content (weird layout-wise, but better than an ultra-thin sidebar). */
  #content {
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
  }
  
  #sidebar {
    max-width: 100%; /* overwrite sidebar max-width */
    height: auto; /* overwrite sidebar height */
  }

  #content-main {
    grid-row-start: 2;
    grid-column-start: 1; /* overwrite content column-start */
  }
}